<ion-header class="header-blue">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/docs" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page">
  <div class="list">
    <div class="file" *ngFor="let f of files">
      <ion-icon [name]="iconFor(f.name)" class="file-ico"></ion-icon>
      <div class="file-name">{{ f.name }}</div>
      <ion-icon name="chevron-forward" class="chev"></ion-icon>
    </div>
  </div>
</ion-content>