.login-bg{
  --background:#eef1f7;
}

.wrap{
    min-height: 100vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:flex-start;

  
  padding-top: 88px;

  
  padding-left: 20px;
  padding-right: 20px;
}

.logo{
 width: 1000px;      
  height: auto;
  margin-bottom: 12px;
}

.title{
  margin: 0;
  font-size: 40px;     /* más grande */
  font-weight: 800;
  color:#2f59ff;
  line-height: 1;
}

.subtitle{
  margin: 8px 0 28px;
  font-size: 14px;
  color:#7a7a7a;
}

.form{
   width: 74%;        /* más estrecho como en la imagen */
  max-width: 330px;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap: 14px;
}

.input{
  width: 100%;
  display:flex;
  align-items:center;
  gap: 10px;
  background:#ffffff;
  border-radius: 12px;
  padding: 12px 14px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.08);
}

.input ion-icon{
  font-size: 18px;
  color:#a0a0a0;
}

.btn{
  width: 100%;
  margin-top: 6px;
  height: 48px;
  --background:#1f46c6;     /* azul más oscuro */
  --color:#ffffff;          /* texto blanco */
  --border-radius: 14px;
  font-size: 18px;
  text-transform: none;
  box-shadow: 0 10px 20px rgba(0,0,0,0.18);
}

.forgot{
  margin-top: 6px;
  font-size: 13px;
  color:#7a7a7a;
}