<ion-content class="login-bg">
  <div class="card">
    

    <div class="logo-wrap">
      <img src="assets/icon/logo.png" alt="VeciApp" class="logo" />
      <h1>VeciApp</h1>
      <p class="subtitle">Gestión de tu comunidad</p>
    </div>

    <div class="form">
      <div class="input">
        <ion-icon name="person-outline"></ion-icon>
        <ion-input placeholder="Usuario"></ion-input>
      </div>

      <div class="input">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-input type="password" placeholder="Contraseña"></ion-input>
      </div>

      <ion-button class="btn" expand="block" routerLink="/tabs">
        Iniciar sesión
      </ion-button>

      <a class="forgot" href="#">¿Olvidaste tu contraseña?</a>
    </div>
  </div>
</ion-content>