<ion-content class="l-content">
  <div class="l-wrap">
    <div class="l-top">
      <img src="assets/icon/logo.png" class="l-logo" alt="VeciApp" />
      <div class="l-title">VeciApp</div>
      <div class="l-sub">Gestión de tu comunidad</div>
    </div>

    <div class="l-form">
      <div class="l-input">
        <ion-icon name="person-outline"></ion-icon>
        <ion-input placeholder="Usuario" inputmode="text"></ion-input>
      </div>

      <div class="l-input">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-input placeholder="Contraseña" type="password"></ion-input>
      </div>

      <!-- ✅ Este botón ya funciona -->
      <ion-button class="l-btn" expand="block" routerLink="/tabs/tab1">
        Iniciar sesión
      </ion-button>

      <div class="l-forgot">¿Olvidaste tu contraseña?</div>
    </div>
  </div>
</ion-content>