<ion-header class="header-blue">
  <ion-toolbar>
    <ion-title>Chats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page">
  <div class="search-wrap">
    <ion-item lines="none" class="search-item">
      <ion-icon name="search" slot="start"></ion-icon>
      <ion-input
        placeholder="Buscar chats..."
        [(ngModel)]="query">
      </ion-input>
    </ion-item>
  </div>

  <div class="list">
    <ion-item
      class="row"
      lines="none"
      button
      *ngFor="let c of filteredChats"
      [routerLink]="c.title === 'Comunidad' ? ['/chat','comunidad'] : null">

      <ion-icon [name]="c.icon" slot="start" class="left-icon"></ion-icon>

      <ion-label>
        <h2 [class.bold]="c.title === 'Escalera 1'">{{ c.title }}</h2>
      </ion-label>

      <ion-badge *ngIf="c.badge" class="badge">{{ c.badge }}</ion-badge>
      <ion-icon name="chevron-forward" slot="end" class="chev"></ion-icon>
    </ion-item>
  </div>
</ion-content>