<ion-header>
  <ion-toolbar class="home-toolbar">
    <ion-title>
      <div class="t1-title">VeciApp</div>
      <div class="t1-subtitle">Gestión de tu comunidad</div>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button class="notif-btn">
        <ion-icon name="notifications-outline"></ion-icon>
        <span class="notif-dot">1</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content">
  <div class="page">

    <div class="section-head">
      <ion-icon name="alert-circle" class="alert-ico"></ion-icon>
      <span>Alerta</span>
    </div>

    <!-- Fuga -->
    <div class="card">
      <div class="row">
        <div class="square red">
          <ion-icon name="water-outline"></ion-icon>
        </div>

        <div class="text">
          <div class="card-title">Fuga de agua</div>
          <div class="card-sub">Revisar departamento 302</div>
        </div>
      </div>
    </div>

    <!-- Mensualidad -->
    <div class="card">
      <div class="row">
        <div class="square green">
          <ion-icon name="cash-outline"></ion-icon>
        </div>

        <div class="text">
          <div class="card-title">Mensualidad</div>

          <div class="line">
            <span class="k">Estado:</span>
            <span class="pill">Pendiente</span>
          </div>

          <div class="line">
            <span class="k">Monto:</span>
            <span class="v">$800</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Actas -->
    <div class="card">
      <div class="row">
        <div class="square blue">
          <ion-icon name="document-text-outline"></ion-icon>
        </div>

        <div class="text">
          <div class="card-title">Actas digitales</div>
          <ul class="bullets">
            <li>Acta Junta Ordinaria 15/03/2024</li>
            <li>Acta Junta Ordinaria 20/03/2023</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="section-head plain">
      <span>Accesos rápidos</span>
    </div>

    <div class="quick">
      <div class="quick-item">
        <div class="quick-ico">
          <ion-icon name="document-text-outline"></ion-icon>
        </div>
        <div class="quick-t">Docs</div>
      </div>

      <div class="quick-item" routerLink="/mantenimiento">
  <div class="quick-ico">
    <ion-icon name="alert-outline"></ion-icon>
  </div>
  <div class="quick-t">Incidencias</div>
</div>

      <div class="quick-item">
        <div class="quick-ico">
          <ion-icon name="megaphone-outline"></ion-icon>
        </div>
        <div class="quick-t">Juntas</div>
      </div>
    </div>

  </div>
</ion-content>