<ion-header>
  <ion-toolbar class="eco-toolbar">
    <ion-title>Economía</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="eco-content">
  <div class="eco-page">

    <!-- Gráfico 1 -->
    <div class="block-title">Gastos por mes</div>
    <div class="eco-card chart-card">
      <canvas id="gastosChart"></canvas>
    </div>

    <!-- Gráfico 2 -->
    <div class="block-title">Cuotas pagadas vs pendientes</div>
    <div class="eco-card chart-card">
      <canvas id="cuotasChart"></canvas>
    </div>

    <!-- Lo que ya tenías -->
    <div class="block-title">Estado de cuotas</div>
    <div class="eco-card clickable" (click)="goPago()">
      <ion-icon name="cash-outline" class="money"></ion-icon>
      <div class="eco-text">Mensualidad</div>
    </div>

    <div class="block-title">Presupuestos</div>
    <div class="eco-card clickable" (click)="goPresupuesto()">
      <ion-icon name="cash-outline" class="money"></ion-icon>
      <div class="eco-text">Ascensor nuevo</div>
    </div>

  </div>
</ion-content>