<ion-header>
  <ion-toolbar class="eco-toolbar">
    <ion-title>Economía</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="eco-content">
  <div class="eco-page">

    <div class="block-title">Estado de cuotas</div>
    <div class="eco-card clickable" (click)="goPago()">
      <ion-icon name="cash-outline" class="money"></ion-icon>
      <div class="eco-text">Mensualidad</div>
    </div>

    <div class="block-title">Presupuestos</div>
    <div class="eco-card">
      <ion-icon name="cash-outline" class="money"></ion-icon>
      <div class="eco-text">Ascensor nuevo</div>
    </div>

  </div>
</ion-content>