<ion-header>
  <ion-toolbar class="app-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title class="big-title">Nuevo ascensor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-wrap">
    <div class="app-card p-card">
      <div class="p-label">Presupuesto</div>
      <div class="p-amount">
        2000€ <span>/ 6000€</span>
      </div>

      <div class="p-bar">
        <div class="p-fill"></div>
      </div>
    </div>
  </div>
</ion-content>