<ion-header>
  <ion-toolbar class="a-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/mantenimiento"></ion-back-button>
    </ion-buttons>

    <ion-title class="a-title">Bombilla fundida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="a-content">
  <div class="a-wrap">
    <div class="a-card">
      <div class="a-icon">!</div>
      <div class="a-text">
        Bombillas del portal<br />
        fundidas
      </div>
    </div>
  </div>
</ion-content>