<ion-header>
  <ion-toolbar class="m-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Mantenimiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="m-content">
  <div class="m-page">

    <div class="row-head">
      <div class="h2">Incidencias</div>

      <!-- BOTÓN + -->
      <ion-button fill="clear" class="plus-btn" (click)="goNuevaIncidencia()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </div>

    <div class="inc-list">
      <div class="inc-item clickable" (click)="goAlertaFuga()">
        <ion-icon name="alert-circle" class="inc-ico"></ion-icon>
        <div>Fuga de agua</div>
      </div>

      <div class="inc-item clickable" (click)="goAlertaBombilla()">
        <ion-icon name="alert-circle" class="inc-ico"></ion-icon>
        <div>Bombilla fundida</div>
      </div>
    </div>

    <div class="row-head agenda">
      <div class="h2">Agenda</div>
      <ion-icon name="calendar-outline" class="cal"></ion-icon>
    </div>

    <!-- ✅ CALENDARIO REAL -->
    <div class="cal-card">
      <full-calendar [options]="calendarOptions"></full-calendar>
    </div>

  </div>
</ion-content>