<ion-header>
  <ion-toolbar class="pay-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pago" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="pay-title">Pago</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="pay-content">
  <div class="pay-page">

    <div class="field">
      <div class="lbl">Email</div>
      <ion-input class="inp" placeholder="123@gmail.com"></ion-input>
    </div>

    <div class="field">
      <div class="lbl">Card information</div>

      <div class="row cardline">
        <ion-input class="inp" placeholder="0000 0000 0000 0000"></ion-input>
        <div class="card-ico" aria-hidden="true">💳</div>
      </div>

      <div class="row two">
        <ion-input class="inp" placeholder="MM/YY"></ion-input>
        <ion-input class="inp" placeholder="CVC"></ion-input>
      </div>
    </div>

    <div class="field">
      <div class="lbl">Name on card</div>
      <ion-input class="inp" placeholder="Name"></ion-input>
    </div>

  </div>
</ion-content>